.about-us-container {
  margin-top: 66px;
  .we-like-title {
    margin-top: 100px;
  }
  img {
    width: 100%;
  }
  .bottom-img {
    margin-bottom: 172px;
  }
  .our-story-p {
    margin-bottom: 50px;
    max-width: 735px;
    margin-left: auto;
    margin-right: auto;
  }
}
