$primary: #c98860;
$danger: #ff4136;
$gray-600: #5c5c5c;
$dark: #3e3e3e;

#root {
  width: 100%;
  height: 100%;
}

$link-decoration: none;

$font-family-base: "Montserrat", sans-serif;

input,
input:focus {
  &.border-bot {
    outline: none;
    box-shadow: none;
    padding-left: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}

.form-control.border-bot {
  margin-bottom: 16px;
}

label {
  color: $gray-600;
}

.btn.btn-primary {
  color: white;
  &:hover {
    color: white;
  }
}

.text-dark {
  color: $dark !important;
}

.fs-18 {
  font-size: 1.125rem;
}
