.header {
  padding-top: 25px;
  text-transform: uppercase;
  &__about-us {
    background: url("images/aboutus/MaskGroup.jpg");
    background-size: cover;
    height: 700px;
    a {
      color: white;
    }
  }
}
