.header {
  padding-top: 25px;
  text-transform: uppercase;
  &__about-us {
    background: url("images/about-us/MaskGroup.jpg");
    background-size: cover;
    height: 700px;
    a {
      color: white;
    }
  }
  &__kitchen {
    background: url("images/kitchen/Mask Group.png");
    background-size: cover;
    height: 655px;
    a {
      color: $secondary;
    }
    color: $secondary;
  }
  .active {
    color: $primary;
    border-bottom: 1px solid currentColor;
  }
}
