.intro {
  font-size: 2.25rem;
}
.divider {
  width: 80px;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 22px;
  margin-bottom: 68px;
  &__white {
    border-top: 1px solid white;
  }
  &__dark {
    border-top: 1px solid $dark;
  }
  &__secondary {
    border-top: 1px solid $secondary;
    transition: border-color 1s;
  }
}
.divider-with-text {
  margin-top: 50px;
  margin-bottom: 36px;
  .divider-line {
    height: 1px;
    width: 100%;
    border-top: 1px solid $gray-600;
  }
  .divider-text {
    color: $gray-600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: fit-content;
    height: 30px;
    position: relative;
    top: -12px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.home-container {
  margin-top: 66px;
  position: relative;
  .home-img {
    left: 0;
  }
  .help-container {
    width: 768px;
    margin-left: -560px;
    .help-box {
      width: 240px;
    }
  }
  .our-blogs-title {
    margin-top: 150px;
  }
  img {
    &:focus {
      outline: none;
    }
  }
  .slider-1 {
    margin-left: 60px;
  }
  .slider-home {
    margin-bottom: 9rem;
  }
  overflow-x: hidden;
}
