.order-summary {
  padding: 1.6rem 2.4rem;
  background-color: #fdf3ea;
  border-radius: 0.625rem 0.625rem 0 0;
}
.total {
  padding: 1.6rem 2.4rem;
  background-color: #efcead;
  border-radius: 0px 0px 0.625rem 0.625rem;
}
.left-info {
  padding-right: 5rem;
}
