.kitchen-container {
  margin-top: 36px;
  margin-bottom: 120px;
  ul {
    li {
      list-style-type: none;
      a {
        color: $secondary;
        font-size: 18px;
        display: block;
        &.active {
          border-right: 3px solid $primary;
        }
      }
    }
  }
  .filter-by-title {
    margin-top: 50px;
  }
  .list-group {
    max-width: 225px;
  }
  // @include media-breakpoint-up(xxl) {
  //   .filter-section {
  //     padding-right: 60px;
  //   }
  // }
}
