$primary: #c98860;
$danger: #ff4136;

#root {
  width: 100%;
  height: 100%;
}

$link-decoration: none;

$font-family-base: "Montserrat", sans-serif;

@import "sign-in.scss";
@import "footer.scss";
@import "header.scss";
@import "home.scss";

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap/scss/bootstrap";
