.product-detail-container {
  margin-top: 96px;
  margin-bottom: 120px;
  .form-select {
    width: 228px;
  }
  .stars {
    width: 130px;
  }
  .reviews-stars {
    width: 260px;
  }
  .buy-group {
    margin-top: 30px;
    button {
      width: 250px;
      padding: 0.75rem;
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .social-btn {
    margin-top: 40px;
    display: inline-block;
    button {
      height: 30px;
      &.facebook {
        background-color: #3b5998;
      }
      &.google {
        background-color: #dc4e41;
      }
    }
  }
  .section-1 {
    .cart,
    .like {
      right: 30px !important;
    }
  }
  .section-2 {
    margin-top: 90px;
    .nav-link {
      color: $dark;
      &.active {
        color: $primary;
      }
    }
  }
  .section-3 {
    margin-top: 90px;
  }
  .section-4 {
    margin-top: 90px;
  }
}
.avatar {
  padding: 0.75rem;
  background-color: #efcead;
  border-radius: 50%;
  display: flex;
  align-content: center;
  min-width: 48px;
  height: 48px;
}
